# Ignorar entornos virtuales
.venv/
venv/
env/

# Archivos de cache Python
__pycache__/
*.pyc

# Configuración local VSCode
.vscode/

# Cache de Jupyter
.ipynb_checkpoints/

# Archivos temporales del sistema
.DS_Store
Thumbs.db